doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Notes App
        link(rel="stylesheet" href="Css/style.css")
    body

        .notes#app
            //- .sidebar
            //-     button(type="button" class='add') Add Note
            //-     .list
            //-         .list-item.list-item-active
            //-             .small-title Lecture 1
            //-             .small-body I learnt Javascript
            //-             .small-updated Thu 3:30 PM
            //- .preview
            //-     input(type="text" class='title' placeholder="Enter A Title")
            //-     textarea.body I am Notes overhere 

        script(src="Js/main.js" type='module')